* {
	margin:0;
}
body {
	font-family: "roboto mono", monospace;
	background-color:#222629;
	margin:0;
}
	
.container {
	display: grid;
	grid-template-areas: 
	"h h h h"
	"c c c c"
	"f f f f";
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 125px auto 50px;
	grid-gap:10px;
	grid-row-gap:50px;
	width:100%;
}

.logo {
	font-size: 2em;
	color:#ffffff;
	padding-right:10px;
}

.logo-box {
	grid-area:l;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	font-size:2em;
	color:#ffffff;
	margin-left: 125px;

}

#nav-box {
	grid-area:n;
	display:flex;
	justify-content: space-around;
	padding-top:30px;
}

.nav-link {
		color:#86c232;
}

.content {
	grid-area:c;
	display:flex;
	text-align:center;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

.footer {
	grid-area:f;
	background-color:blue;
	display:flex;
	justify-content:flex-end;
	flex-direction: row;

}
/* media query and set nav bar to column instead at lowest device */
#header {
	grid-area:h;
	display:grid;
	grid-template-areas: 
	"l n";
	grid-template-columns:20% 80%;
	grid-template-rows: 125px;
	width:100%

}



#header-img {
	max-width:175px;
	max-height: 125px;
}

input[type="email"] {
	width:100%;
	max-width: 300px;
	margin-top:20px;
	margin-bottom: 10px;
	padding:5px;

}

input[type="submit"] {
	width:100%;
	max-width: 100px;
	padding:10px;
	border-radius: 30px;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 50px 50px;
	grid-template-areas: 
	"ica ifa"
	"icb ifb"
	"icc ifc";
	margin-top: 100px;
	grid-row-gap: 50px;
}

/* Remember for icon margin needs to be not set for it to be responsive @media query needs to be set for it to work
needs to be for info as well since it applies to that too*/

.icon,.icon2,.icon3 {
	grid-area:ica;
	display:flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 3em;
	width:20vw;
	height:125px;
	margin-left:150px;
	flex-direction:column;
	color:#FFFFFF;
}

.icon2 {
	grid-area:icb;
}

.icon3 {
	grid-area:icc;
}



.info, .info2, .info3 {
	grid-area: ifa;
	display:flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	width:80vw;
	height:125px;
}

.info2 {
	grid-area:ifb;
}

.info3 {
	grid-area:ifc;
}

p{
	display:block;
	margin:0;
	color:#6b6e70;
}

h2 {
	display:block;
	margin:0;
	color:#86c232;
}

iframe {
	width:100%;
	max-width: 709px;
}

.showcase {
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top:100px;
}

.pricing {

  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.space {
	background-color: #ddd;
      color: black;
      padding: 15px 0;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px;
      text-align: center;
}

 .diag, .parts, .osite {
 	color:#6b6e70;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 15px 20px;
    border: 1px solid #000;
    border-radius: 5px;
 }

 ol {
 	list-style: none;
 	margin:20px 30px;
 	text-align: center;
 }

 ul{
 	list-style: none;
 }

li {
	padding:5px 0;
}

.link2 {

}


  @media (max-width: 800px) {
    flex-direction: column;
    
    .diag, .parts, .osite { max-width: 300px; width: 100%; margin: 0 auto; margin-bottom: 10px; }
    }