body {
	font-family: "roboto mono", monospace;
	background-color:#222629;
	margin:0;
}
	
.container {
	display: grid;
	grid-template-areas: 
	"h h h h"
	"c c c c"
	"f f f f";
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 125px 500px 30px;
	grid-gap:10px;
	grid-row-gap:50px;
}

.logo {
	font-size: 2em;
	color:#ffffff;
	padding-right:10px;
}

.logo-box {
	grid-area:l;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	font-size:2em;
	color:#ffffff;

}

#nav-box {
	grid-area:n;
	display:flex;
	justify-content: space-around;
	padding-top:30px;
}

.nav-link {
		color:#86c232;
}

.content {
	grid-area:c;
	display:flex;
	text-align:center;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

.footer {
	grid-area:f;
	background-color:blue;
}

#header {
	grid-area:h;
	display:grid;
	grid-template-areas: 
	"l n";
	grid-template-columns:20% 80%;
	grid-template-rows: 125px;

}



#header-img {
	max-width:175px;
	max-height: 125px;
}

input[type="email"] {
	width:100%;
	max-width: 300px;
	margin-top:20px;
	margin-bottom: 10px;
	padding:5px;

}

input[type="submit"] {
	width:100%;
	max-width: 100px;
	padding:10px;
	border-radius: 30px;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 50px 50px;
	grid-template-areas: 
	"ica ifa"
	"icb ifb"
	"icc ifc";
	margin-top: 100px;
	grid-row-gap: 50px;
}

/* Remember for icon margin needs to be not set for it to be responsive @media query needs to be set for it to work
needs to be for info as well since it applies to that too*/

.icon,.icon2,.icon3 {
	grid-area:ica;
	display:flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 3em;
	width:20vw;
	height:125px;
	margin-left:150px;
	flex-direction:column;
}

.icon2 {
	grid-area:icb;
}

.icon3 {
	grid-area:icc;
}



.info, .info2, .info3 {
	grid-area: ifa;
	display:flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	width:80vw;
	height:125px;
}

.info2 {
	grid-area:ifb;
}

.info3 {
	grid-area:ifc;
}

p{
	display:block;
	margin:0;
}

h2 {
	display:block;
	margin:0;
}


